
.container {
    position: relative;
    height: 100%;
    width: 100%;
    color: #fff;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 55%;
    transform: translate(-50%, -50%);
    font-size: 100px;


    color: white;
}

.stage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*border: 1px solid #fff;*/
    width: 1080px;
    height: 1920px;

    background-color: #282c34;
    color: #fff;
    font-size: 100px;
}
.stageContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.resolutions {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -100%);
    font-size: 24px;
    color: #282c34;
}

.stageBorder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #fff;
    z-index: -1;
}

.contentWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.titleWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 1em;
}

.title {
    margin-top: 5em;
    position: relative;
    transform: translateX(100%);
    opacity: 0;
    font-size: .4em;
}
.title:first-child {
    margin-top: 0;
}

.titleIndex {
    position: absolute;
    top: -6px;
    left: 0;
    width: 150px;
    height: 150px;
    /*font-weight: 700;*/
    font-size: 80px;
    line-height: 150px;
    color: #FFFFFF;
    text-align: center;
    background: var(--color);
    border-radius: 50%;
    transform: translateX(-50%);
}
.titleContent {
    width: 482px;
    height: 150px;
    position: relative;
    padding: 14px 27px 13px 98px;
    /*font-weight: 700;*/
    font-size: 70px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 111px;
    background: #000000;
    border: 6px solid var(--color);
    border-radius: 0 10px 10px 0;
}


.leftText {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 135px;
    top: 50%;
    transform: translateY(-50%) translateX(-100%);
    opacity: 0;
    font-size: 50px;
    /*writing-mode: vertical-lr;*/
    /*letter-spacing: 5px;*/
    line-height: 60px;
}

.leftTextContent {
    width: 107px;
    margin-right: 15px;
}

.listWrapper {
    position: absolute;
    left: .1em;
    top: 100%;
    height: 0;
    /*padding-top: .1em;*/
    border-left: 3px solid yellow;
    overflow: hidden;
}
.listItem {
    margin-top: .2em;
    transform: translateX(-100%);
    color: black;
    font-weight: bold;
}
.listItemTitle {
    padding: 10px 30px;
    background: yellow;
    text-indent: .3em;
    font-size: .2em;
}
.listItemContent {
    /*display: none;*/
    /*width: .6em;*/
    overflow: hidden;
    /*transform: translateY(-100%);*/
    height: 0;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    padding-top: .1em;
    padding-bottom: .3em;
}
.listItemContent img {
    margin-top: .1em;
    margin-left: .1em;
    /*width: ;*/
    height: auto;
    width: 130px;
    /*flex: 1 1 .2em;*/
}